<div class="graph" id="graph">
  <div class="level level-offset-4">
    <div class="node" id="node_9">9</div>
  </div>
  <div class="level level-offset-4">
    <div class="node seller-step" id="node_8">8</div>
  </div>
  <div class="level level-offset-2">
    <div class="node admin-step" id="node_7">7</div>
  </div>
  <div class="level">
    <div class="node buyer-step" id="node_2">2</div>
    <div class="node buyer-step" id="node_3">3</div>
    <div class="node seller-step" id="node_4">4</div>
    <div class="node seller-step" id="node_5">5</div>
    <div class="node seller-step" id="node_6">6</div>
  </div>
  <div class="level level-offset-4">
    <div class="node" id="node_1">1</div>
  </div>
</div>
