// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.node {
  background: white;
  height: 28px;
  width: 28px;
  border-radius: 15px;
  text-align: center;
  float: left;
  margin-right: 30px;
  border: solid black 1px;
}

.node.active{
  -webkit-box-shadow: 0px 0px 9px 0px rgba(255, 50, 50, 1);
  -moz-box-shadow:    0px 0px 9px 0px rgba(255, 50, 50, 1);
  box-shadow:         0px 0px 9px 0px rgba(255, 50, 50, 1);
  height: 26px;
  width: 26px;
  border: solid red 2px;
}

.node.completed{
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow:    0px 0px 9px 0px rgba(0, 0, 0, 1);
  box-shadow:         0px 0px 9px 0px rgba(0, 0, 0, 1);
  height: 26px;
  width: 26px;
  border: solid black 2px;
}

.level {
  clear:both;
  width: 300px;
  padding-top: 50px;
}

.level:first-child {
  padding-top: 0px;
}

.buyer-step {
  background: green;
}

.seller-step {
  background: yellow;
}

.admin-step {
  background: blue;
}

.level::after { 
  content: " ";
  display: block;
  clear: both;
}

.level.level-offset-4 {
  padding-left: 120px;  
}

.level.level-offset-2 {
  padding-left: 60px;
}

.graph {
  background: image-url('graph-background.png');
  width: 300px;
}

.column {
  margin: 20px;
  float: left;
  width: 40%;
}
